@media screen and (max-width: 425px) {    
    body {
        background-image: linear-gradient(45deg, #1F2334, #3F3F59);
        size: cover;
        height: 100vh;
        background-repeat: no-repeat;
        padding-left: 10px;
        padding-right: 10px;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    .index-nav {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        width: 100%;
    }

    #access {
        display: flex;
        flex-direction: row;
    }

    a {
        text-decoration: none;
        color: white;
    }

    h2 {
        font-weight: 200;
    }
    
    form {
        width: 30%;
        line-height: 1.68em;
        text-align: center;
        padding: 2em;
        background-color: rgba( 33, 33, 45, 0.6);
        border-radius: 5px;
        color: white;
    }

    #loginForm {
      width: 80%;
      margin-top: 40%;  
    }

    #loginForm p, #signupForm p {
        margin-top: 40px;
    }

    #loginForm input, #signupForm input {
        width: 80%;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        font-weight: 200;
        font-size: 18px;
        height: 30px;
        margin-top: 5px;
    }

    #loginEmail, #loginPassword, #signupEmail, #signupPassword {
        padding-left:5px;
    }

    #loginPassword, #signupPassword {
        margin-bottom: 20px;
    }

    ::placeholder {
        color: white;
    }

    #signupForm {
        width: 80%;
        margin-top: 10%;
    }
        
    .show-on-click {
        display: none;
    }
  

}