<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>See</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="scripts/main.js"></script>
    
</head>
<body>
    <nav class="index-nav">
        <div id="access">
            <div id="noToken" class="show">
                <a id="login" href="#">Log In</a> 
                <a id="signup" href="#">Sign Up</a>
            </div>
            <div id="yesToken" class="show">
                <a id="logout" href="#">Log Out</a>
            </div>
        </div>
        <p id="message"></p>
    </nav>
    <form id="loginForm" class="show">
        <h2>Login</h2>
        <div>
        <input id="loginEmail" type="email" name="email" placeholder="Email"/>
        </div>
        <div>
        <input id="loginPassword" type="password" name="password" placeholder="Password"/>
        </div>
        <div>
        <input type="submit" id="submit"/>
        </div>
        <p><a #myBtn>Don't have an account? Sign up here.</a></p>
    </form>
    <form id="signupForm" class="show-on-click">
        <p>Signup</p>
        <div>
            <label for="signupEmail">Email</label>
            <input id="signupEmail" type="text" name="email"/>
        </div>
        <div>
            <label for="signupPassword">Passord</label>
            <input id="signupPassword" type="password" name="password"/>
        </div>
        <div>
            <input type="submit" />
        </div>
        </form>
              
              
</html>