<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Your Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/styles/profile.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../public/scripts/main.js"></script>
</head>
<body>
    <nav>
        <ul class="left-nav">
            <li>See</li>
        </ul>
        <ul class="right-nav">
            <li>Profile</li>
            <li>Sign Out</li>
        </ul>
    </nav>
    <div class="profile-header">
        <img class="profile-pic" src="./images/profile-pic.jpg" alt="profile picture">
        <div class="profile-container">
            <p>
                Last Update:
            </p>
        </div>
    </div>
    
    
</body>
</html>