<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Your Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/settings.css" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="scripts/main.js"></script>
</head>
<body>
    <nav>
        <ul class="left-nav">
            <li>See</li>
        </ul>
        <ul class="right-nav">
            <li>Profile</li>
            <li>Sign Out</li>
        </ul>
    </nav>
    <div class="profile-header">
        <img class="profile-pic" src="./images/profile-pic.jpg" alt="profile picture">
        <div class="profile-container">
            <form>
                <input type="tel" id="phone">
            </form>
        </div>
    </div>
</body>
</html>